{% extends 'base.html' %}
{% load static %}
{% block custom_style %}
<style>
    
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("{% static 'img/contact-us-hero.jpg' %}") center center;
  background-size: cover;
  position: relative;
}

#hero .container {
  padding-top: 80px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #009970;
  border: 2px solid #009970;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero .container {
    padding-top: 60px;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
}


    /*--------------------------------------------------------------
    # Contact Section
    --------------------------------------------------------------*/
    .contact .info-container {
        background-color: #FED2D6;
        height: 100%;
        padding: 20px;
        border-radius: 10px 0 0 10px;
        box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
      }
      
      .contact .info-item {
        width: 100%;
        background-color: #B40018;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 10px;
        color: #fff;
      }
      
      .contact .info-item:last-child {
        margin-bottom: 0;
      }
      
      .contact .info-item i {
        font-size: 20px;
        color: #fff;
        float: left;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        margin-right: 15px;
      }
      
      .contact .info-item h4 {
        padding: 0;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      
      .contact .info-item p {
        padding: 0;
        margin-bottom: 0;
        font-size: 14px;
      }
      
      .contact .info-item:hover i {
        background: #fff;
        color: var(--color-primary);
      }
      
      .contact  button[type=submit] {
        background: #B40018;
        border: 0;
        padding: 14px 45px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
      }
      
      .contact  button[type=submit]:hover {
        background: #07043f;
        cursor:pointer;
      }
      
      @-webkit-keyframes animate-loading {
        0% {
          transform: rotate(0deg);
        }
      
        100% {
          transform: rotate(360deg);
        }
      }
      
      @keyframes animate-loading {
        0% {
          transform: rotate(0deg);
        }
      
        100% {
          transform: rotate(360deg);
        }
      }
      
    </style>
{% endblock custom_style %}
   {% block content %}
   
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center mb-3">
    <div class="container text-center position-relative" >
      <h1>Contact us</h1>
      <img src="{% static 'img/scroll-icon.gif' %}" alt="" style="width:90px;">
    </div>
  </section><!-- End Hero -->

<br>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
   
  
          <div class="row gx-lg-0 gy-4">
  
            <div class="col-lg-4">
  
              <div class="info-container d-flex flex-column align-items-center justify-content-center">
                <div class="info-item d-flex"  data-aos="zoom-in"   data-aos-easing="linear"   data-aos-delay="100" data-aos-duration="1000">
                  <i class="bi bi-geo-alt flex-shrink-0"></i>
                  <div>
                    <h4>Location:</h4>
                    <p>Block No-1. 3rd Floor, Malan Plaza, Akashwani Road, Near durga mata Mandir, Aurangabad-431001</p>
                  </div>
                </div><!-- End Info Item -->
  
                <div class="info-item d-flex"  data-aos="zoom-in"   data-aos-easing="linear"   data-aos-delay="100" data-aos-duration="1000">
                  <i class="bi bi-envelope flex-shrink-0"></i>
                  <div>
                    <h4>Email:</h4>
                    <p>moneytrust@gmail.com</p>
                  </div>
                </div><!-- End Info Item -->
  
                <div class="info-item d-flex"  data-aos="zoom-in"   data-aos-easing="linear"   data-aos-delay="100" data-aos-duration="1000">
                  <i class="bi bi-phone flex-shrink-0"></i>
                  <div>
                    <h4>Call:</h4>
                    <p>+91-7776948203</p>
                    <p>+91-9272727274</p>
                  </div>
                </div><!-- End Info Item -->
  
                <div class="info-item d-flex"  data-aos="zoom-in"   data-aos-easing="linear"   data-aos-delay="100" data-aos-duration="1000">
                  <i class="bi bi-clock flex-shrink-0"></i>
                  <div>
                    <h4>Open Hours:</h4>
                    <p>09:00 AM - 08:00 PM</p>
                  </div>
                </div><!-- End Info Item -->
              </div>
  
            </div>
  
            <div class="col-lg-8">
              <form  method="POST" role="form" > {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 form-group">
                    {{fm.first_name}}
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    {{fm.last_name}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    {{fm.mobile}}
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    {{fm.email}}
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-6 form-group">
                    {{fm.reason}}
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    {{fm.city}}
                  </div>
                </div>
                
                <div class="form-group mt-3">
                  {{fm.subject}}
                </div>
                <div class="form-group mt-3">
                  {{fm.message}}
                </div>
                 
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div><!-- End Contact Form -->
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  <br>
<section class="map">
<div class="container mt-4" style="max-width:1400px; border-radius:5px;box-shadow:0px 0px 10px -2px;">
  <div class="row">
    <div class="col-sm-12 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3752.2078146918757!2d75.34048441843176!3d19.873444893888635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdba29cc36d40e5%3A0x4c61d24dff3a3d5a!2sNear%20Durga%20Mata%20Mandir%2C%20Aurangabad%2C%20Maharashtra%20431001!5e0!3m2!1sen!2sin!4v1678045321447!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  </div>
</div>
      </section>
   {% endblock content %}