{% extends 'base.html' %}
{% load static %}


{% block style %}
.links {
width: 100%;
background-color: #07043f;
color: white;
padding: 15px;
}

.links a {
text-decoration: none;
}

.titlepage{
text-align: center;
margin-top: 30px;
}
.titlepage h2{
color: #275da9;
}
/* Header Links Section Start */

.header-links {
height: auto;
width: 98%;
background:#07043f;
margin-top: 8px;
padding-bottom: 8px;
border-radius: 10px;
}



.banner-btn a {
border-radius: 8px;
width: 170px;
text-decoration: none;
display: inline-block;
margin: 0 10px;
padding: 12px 0;
color: #fff;
background-color: #07043f;
border: 1px solid rgb(255, 255, 255);
position: relative;
z-index: 1;
transition: color 0.5s;
margin-top: 10px;
font-weight: bold;
}

.banner-btn a span {
width: 0%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background: linear-gradient(to right, #1C53D9, #07043f);
z-index: -1;
transition: 0.5s;
}

.banner-btn a:hover span {
border-radius: 8px;
width: 100%
}

.banner-btn a:hover {
color: rgb(255, 255, 255);
}


@media screen and (max-width: 770px) {
.banner-btn a {

width: 40%;

}
}

/* Header Link Section Stop */





/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
height:60vh;
background:url({% static 'img/hero-bg.jpg' %});
background-repeat:no-repeat;
background-size:100% 100%;
}

#hero h1{
font-size:4rem;
font-weight:1000;
color:white;
}


#hero h3{
font-size:2rem;
font-weight:500;
}

#hero .hero-content{
position:relative;
top:50px;
}

.hero-footer{
padding:10px;
}
.hero-footer .container{
border-radius:15px;
box-shadow:0px 0px 10px;
position:relative;
top:-110px;
z-index:1;
border:2px solid white;
padding:20px;
background:white;
margin-bottom:-90px;
}

.hero-footer .container .left{
border-right:5px solid #B40018;
}

@media screen and (max-width: 770px) {

.hero-footer .container{
border-radius:15px;
box-shadow:0px 0px 10px;
position:relative;
top: 0px;
z-index:1;
border:2px solid white;
padding:20px;
background:white;
margin-bottom:0px;
}

.hero-footer .container .left{
border-right:none;
margin-bottom:10px;
}

}


/*--------------------------------------------------------------
# Hero Section End
--------------------------------------------------------------*/




/* Bank List Table */
.tbl-bank-list {
margin-top:20px;
background-color: white;
border-radius: 15px;
box-shadow: 0px 0px 10px -2px;
padding-bottom: 20px;
padding-top: 20px;
}

/* Bank List Table */



.table-bg-color{
background-color:#FED2D6;
}

.table_scroll {
{% comment %} height: 420px; {% endcomment %}
overflow-x: scroll;
{% comment %} overflow-y: scroll; {% endcomment %}
}

.table {
min-width: max-content;
}

th {
background-color: #0098D7;
text-align: center;
}

tr,
td {
text-align: left;
}

.border {
border: 2px solid black;
}

/* Bank Table Stop */



/* fees-and-charges Section Staart */

.fees-and-charges-card {
display:flex;
}

.fees-and-charges-card-item-1 {
width:15%;
padding:10px;
}
.fees-and-charges-card-item-2 {
width:85%;
padding:10px;
}


/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/

.features .feature-icons {
  margin-top: 50px;
}

.features .feature-icons h3 {
  color: black;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}

.features .feature-icons .content .icon-box {
  display: flex;
}

.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: <div id="B40018"></div>;
}

.features .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #B40018;
  margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
  font-size: 15px;
  color: #848484;
  text-align:justify;
}







/* rate-type Section Start */
.rate-type{
  padding:20px;
  background-color:#ECECEC;

  .content{
 color:#fff;
  }
}
/* rate-type Section Stop */
{% endblock style %}

{% block content %}


<center>
  <div class="header-links">
    <div class="banner-btn">
      <a href="{% url 'home_loan_overview' %}" data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">
        <span></span> Overview </a>
      <a href="{% url 'home_loan_eligibility_criteria' %}" data-aos="fade-down" data-aos-delay="150"
        data-aos-duration="1000"> <span></span> Eligibility Criteria </a>
      <!--<a href="#" data-aos="fade-down" data-aos-delay="150" data-aos-duration="1000" data-toggle="modal"
        data-target="#exampleModal">
        <span></span> EMI Calculator </a>--> 
      <a href="{% url 'home_loan_interest_rate_and_fees' %}" data-aos="fade-down" data-aos-delay="150"
        data-aos-duration="1000" style=" color: #07043f; background: #fff;"> <span></span> Interest Rate & Processing
        Fees </a>
      <a href="{% url 'home_loan_document_required' %}" data-aos="fade-down" data-aos-delay="150"
        data-aos-duration="1000"> <span></span> Document Required </a>
    </div>
  </div>
  <div class="waves_img"></div>
</center>



<div class="links mt-3">
  <a href="../index.html" class="text-light">Home/</a>
  <a href="#" class="text-light">Home Loan/</a>
  <a href="#" class="text-warning"> Interest Rate & Processing Fees</a>
</div>


<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12 hero-content">
        <h3 class="text-danger"  data-aos="zoom-in"   data-aos-easing="linear"   data-aos-delay="100" data-aos-duration="1000">Home Loan</h3>
        <h1 class=" "  data-aos="zoom-in"   data-aos-easing="linear"   data-aos-delay="100" data-aos-duration="1000">Interest Rate & Processing Fees</h1>
        <a href="#" class="btn btn-danger px-5 py-2 mt-4"  data-aos="fade-down"   data-aos-easing="linear"   data-aos-delay="400" data-aos-duration="1000">Apply Now</a>
      </div>

    </div>
  </div>
</section>

<section class="hero-footer"  data-aos="zoom-in"   data-aos-easing="linear"   data-aos-delay="100" data-aos-duration="1000">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 left">
        <img src="{% static 'img/home_loan/header_interest_rate.jpg' %}" alt="" style="width:100%">
      </div>
      <div class="col-sm-6 right">
        <p class="text-justify">
          The term Interest Rate on a Home Loan or Mortgage Loan may be defined as an amount a lender charges you as a
          borrower in terms of a percentage of the Home Loan Principal Amount or Home Loan Value.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- End Hero -->




<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Home Loan Interest Rate</h2>
      <p>Also termed as Rate of Interest or ROI, this charge applies to the Principal Amount on an annual basis over the
        specified home loan tenure.</p>
    </div>
  </div>
</div>

<div class="container tbl-bank-list"  data-aos="zoom-in"   data-aos-easing="linear"   data-aos-delay="100" data-aos-duration="1000">
  <div class="row">
    <div class="col-sm-12 text-center ">
      <h2>List of Banks, interest rate and processing fees</h2>
      <p>=======================</p>
    </div>
  </div>
  <div class="row row-1" data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">
    <div class="col-sm-12"><br>
      <br>
      <div class="table_scroll">

        <table class="table table-hover">
          <thead>

            <tr>
              <th scope="col" class="text-center bg-danger text-white border">SR.No</th>
              <th scope="col" class="text-center bg-danger text-white border">Bank Name</th>
              <th scope="col" class="text-center bg-danger text-white border">Interest Rate</th>
              <th scope="col" class="text-center bg-danger text-white border">Lowest EMI(per lack)</th>
            </tr>
          </thead>
          <tbody style="text-align:left;">

            <tr class=" text-left">
              <td class="text-start border">01</td>
              <td class="text-start border">Central Bank OF India</td>
              <td class="text-start border">7.5% </td>
              <td class="text-start border">12000 </td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">02</td>
              <td class="text-start border">Standard Chartered Bank</td>
              <td class="text-start border">7.7%</td>
              <td class="text-start border">0.15%</td>
            </tr>

            <tr class=" text-left">
              <td class="text-start border">03</td>
              <td class="text-start border">Bajaj Home Finance</td>
              <td class="text-start border">7.8%</td>
              <td class="text-start border">11800</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">04</td>
              <td class="text-start border">HSBC Bank</td>
              <td class="text-start border">7.9%</td>
              <td class="text-start border">11800</td>
            </tr>

            <tr class=" text-left">
              <td class="text-start border">05</td>
              <td class="text-start border">IDFC First Bank</td>
              <td class="text-start border">7.95%</td>
              <td class="text-start border">11800</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">06</td>
              <td class="text-start border">L & T Housing</td>
              <td class="text-start border">17%</td>
              <td class="text-start border">0.02</td>
            </tr>

            <tr class=" text-left">
              <td class="text-start border">07</td>
              <td class="text-start border">Fullerton</td>
              <td class="text-start border">7.95%</td>
              <td class="text-start border">5900</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">08</td>
              <td class="text-start border">PNB Housing Finance</td>
              <td class="text-start border">7.99%</td>
              <td class="text-start border">0.25%</td>
            </tr>

            <tr class=" text-left">
              <td class="text-start border">09</td>
              <td class="text-start border">Kotak Bank</td>
              <td class="text-start border">8%</td>
              <td class="text-start border">11800</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">10</td>
              <td class="text-start border">DBS Bank</td>
              <td class="text-start border">8%</td>
              <td class="text-start border">11800</td>
            </tr>

            <tr class=" text-left">
              <td class="text-start border">10</td>
              <td class="text-start border">Tata Housing Finance</td>
              <td class="text-start border">8.05%</td>
              <td class="text-start border">0.35%</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">11</td>
              <td class="text-start border">HDFC Home Loan</td>
              <td class="text-start border">8.1%</td>
              <td class="text-start border">2360</td>
            </tr>

            <tr class=" text-left">
              <td class="text-start border">12</td>
              <td class="text-start border">Yes Bank</td>
              <td class="text-start border">8.1%</td>
              <td class="text-start border">11800</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">13</td>
              <td class="text-start border">Bank of Baroda Home Loan</td>
              <td class="text-start border">8.1%</td>
              <td class="text-start border">11800</td>
            </tr>

            <tr class=" text-left">
              <td class="text-start border">14</td>
              <td class="text-start border">RBL Bank</td>
              <td class="text-start border">8.1%</td>
              <td class="text-start border">0.50%</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">15</td>
              <td class="text-start border">Federal Bank</td>
              <td class="text-start border">8.15%</td>
              <td class="text-start border">11800</td>
            </tr>

            <tr class=" text-left">
              <td class="text-start border">16</td>
              <td class="text-start border">Axis Bank</td>
              <td class="text-start border">8.35%</td>
              <td class="text-start border">11800</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">17</td>
              <td class="text-start border">Hero Housing</td>
              <td class="text-start border">8.5%</td>
              <td class="text-start border">0.50%</td>
            </tr>

            <tr class=" text-left">
              <td class="text-start border">18</td>
              <td class="text-start border">Indiabulls</td>
              <td class="text-start border">8.75%</td>
              <td class="text-start border">1%</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">19</td>
              <td class="text-start border">Aditya Birla Housing</td>
              <td class="text-start border">9.5%</td>
              <td class="text-start border">0.50%</td>
            </tr>

            <tr class=" text-left">
              <td class="text-start border">20</td>
              <td class="text-start border">Capri Housing</td>
              <td class="text-start border">9.5%</td>
              <td class="text-start border">1.50%</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">21</td>
              <td class="text-start border">DCB Bank</td>
              <td class="text-start border">9.6%</td>
              <td class="text-start border">0.50%</td>
            </tr>

            <tr class=" text-left">
              <td class="text-start border">22</td>
              <td class="text-start border">ICICI HFC</td>
              <td class="text-start border">9.75%</td>
              <td class="text-start border">1%</td>
            </tr>


            <tr class="table-bg-color text-left">
              <td class="text-start border">23</td>
              <td class="text-start border">Fullerton Grahshakti</td>
              <td class="text-start border">10%</td>
              <td class="text-start border">0.75%</td>
            </tr>

            <tr class="  text-left">
              <td class="text-start border">24</td>
              <td class="text-start border">Priamal Housing Finance</td>
              <td class="text-start border">10%</td>
              <td class="text-start border">1%</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">25</td>
              <td class="text-start border">Adhar Housing Finance</td>
              <td class="text-start border">10%</td>
              <td class="text-start border">1.50%</td>
            </tr>

            <tr class="text-left">
              <td class="text-start border">26</td>
              <td class="text-start border">Ujjivan Housing</td>
              <td class="text-start border">11.5%</td>
              <td class="text-start border">1.50%</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">27</td>
              <td class="text-start border">Chola Madalam</td>
              <td class="text-start border">11.6%</td>
              <td class="text-start border">1.25%</td>
            </tr>

            <tr class="text-left">
              <td class="text-start border">28</td>
              <td class="text-start border">DMI Housing</td>
              <td class="text-start border">11.75%</td>
              <td class="text-start border">1%</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">29</td>
              <td class="text-start border">Edelwessis</td>
              <td class="text-start border">11.75%</td>
              <td class="text-start border">1%</td>
            </tr>

            <tr class="text-left">
              <td class="text-start border">30</td>
              <td class="text-start border">Shriram Housing</td>
              <td class="text-start border">12%</td>
              <td class="text-start border">1%</td>
            </tr>

            <tr class="table-bg-color  text-left">
              <td class="text-start border">32</td>
              <td class="text-start border">Vastu Housing Finance</td>
              <td class="text-start border">12%</td>
              <td class="text-start border">1%</td>
            </tr>


          </tbody>
        </table>
      </div>
      <br>
    </div>
  </div>
</div>
<!-- Bank Table Stop -->



<!--========== Processing Fees and Charges Start ============-->

<section id="features" class="features mt-5">

  <div class="container" data-aos="fade-up" style="max-width:1400px;">
 
    <!-- Feature Icons -->
    <div class="row feature-icons" data-aos="fade-up">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>Home Loan Processing Fees and Charges</h2>
          <p>Banks, and NBFCs while processing your home loan application at MoneyTrusts may charge fees and charges apart from interest rates applicable. These charges may differ from lender to lender and are of the following types.</p>
        </div>
      </div>
      <div class="row">

        <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
          <img src="{% static 'img/home-loan-feature.jpg' %}" class="img-fluid p-4" alt="">
        </div>

        <div class="col-xl-8 d-flex content">
          <div class="row align-self-center gy-4">

            <div class="col-md-6 icon-box content" data-aos="fade-up">
              <i class="fa-solid fa-indian-rupee-sign"></i>
              <div>
                <h4>Processing Fees</h4>
                <p>Lenders charge a one-time non-refundable charge for processing your home loan application as Processing Fees. These fees can either be a specified percentage of the principal amount or a fixed sum</p>
              </div>
            </div>

            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <<i class="fa-solid fa-sack-dollar"></i>
          
              <div>
                <h4>Delayed EMI Payments</h4>
                <p>Almost all lenders charge a Delayed or Late EMI Payment in case you miss or default on your home loan EMI.</p>
              </div>
            </div>

            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="fa-solid fa-repeat"></i>
              
              <div>
                <h4>Conversion Charges</h4>
                <p>Lending Institutions generally offer two types of interest rates, which are fixed or floating. You may be charged a conversion charge when you choose to switch from one interest rate type to another. These are typically a percentage of your principal loan amount.</p>
              </div>
            </div>

            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="fa-solid fa-indian-rupee-sign"></i>

              <div>
                <h4>Prepayment Charges</h4>
                <p>When you choose to repay your home loan before time using funds borrowed from another lender, your existing lender may charge you a prepayment charge as a penalty for prepayment. However, if you choose to pay off your home loan with your own funds, these charges will not apply.</p>
              </div>
            </div>

            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="fa-solid fa-print"></i>

              <div>
                <h4>Legal Charges</h4>
                <p>Banks and NBFC hire third-party legal services to complete the task of verification of property and related documents for a Legal Charge. These charges depending on the lending institutions are typically based on the actually incurred expense</p>
              </div>
            </div>

            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <i class="fa-solid fa-user-tie"></i>
              <div>
                <h4>Administrative Fees</h4>
                <p>Some institutions may charge you an Administrative Fees for your Home Loan to pay for the back-end administrative processes related to processing your home loan application.</p>
              </div>
            </div>

            <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="500">
              <i class="fa-solid fa-file-invoice-dollar"></i>
              <div>
                <h4>Other Charges</h4>
                <p>Depending on the lender you select, other charges such as PDC or Post Dated Cheque Charges, Loan Cancellation Charges, Cheque Dishonour Charges or Cheque Bounce Charges, Rejection of Electronic Clearance Charges and more may be charged by your lender.</p>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div><!-- End Feature Icons -->

  </div>

</section><!-- End Features Section -->


<!--========== Processing Fees and Charges Stop ============-->





<!--========== Rate Type Start ============-->
<section class="rate-type">
 <div class="container" style="max-width:1400px;">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Home Loan Interest Rate Types</h2>
      <p>You will find different types of Home Loan Interest Rates offered by MoneyTrusts Partner Banks and NBFCs. Let's take a brief look at both to plan accordingly for the cheapest home loan interest rate.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 px-2 py-2"  data-aos="flip-right"   data-aos-easing="linear"   data-aos-delay="100" data-aos-duration="1000">
      <div class="content px-3 py-2 border" style="border-radius:5px; background:#fff; height:100%;">
        <h4 class="text-center">Fixed-Rate of Interest</h4>
        <p class="text-justify">Fixed Home Loan Rates of Interest are those rates that remain constant for the entire term of your home loan. This type of rate allows you to arrive at the total repayment sum along with the interest sum payable at the time of estimation.</p>
      </div>
    </div>
    <div class="col-md-4 px-2 py-2"  data-aos="flip-right"   data-aos-easing="linear"   data-aos-delay="100" data-aos-duration="1000">
      <div class="content px-3 py-2 border" style="border-radius:5px; background:#fff; height:100%;">
        <h4 class="text-center">Floating Rate of Interest</h4>
        <p class="text-justify">Floating Home Loan Interest Rates are likely to vary and change over the period of your home loan, and these interest rates increase or decrease according to changes to Housing Finance Benchmark Rates. This type of rate suits a changing market scenario where you expect falling rates.</p>
      </div>
    </div>
    <div class="col-md-4 px-2 py-2"  data-aos="flip-right"   data-aos-easing="linear"   data-aos-delay="100" data-aos-duration="1000">
      <div class="content px-3 py-2 border" style="border-radius:5px; background:#fff; height:100%;">
        <h4 class="text-center">Mixed Rate of Interest</h4>
        <p class="text-justify">When you opt for a Mixed Rate Interest Home Loan, you go for a fixed rate of interest at the beginning of your home loan period. During the tenure when you convert to a floating rate after a set loan period, you opt for a Mixed Rate of Interest.</p>
      </div>
    </div>
  </div>

 </div>
</section>
<!--========== Rate Type Stop ============-->
<br>

{% include "personal_loan_post_clients.html" %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock content %}