{% extends 'base.html' %}
{% load static %}

{% block style %}
.links {
  width: 100%;
  background-color: #07043f;
  color: white;
  padding: 15px;
}

.links a {
  text-decoration: none;
}

.titlepage{
text-align: center;
margin-top: 30px;
}
.titlepage h2{
color: #275da9;
}
/* Header Links Section Start */

.header-links {
  height: auto;
  width: 98%;
  background:#07043f;
  margin-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
}



.banner-btn a {
  border-radius: 8px;
  width: 170px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  background-color: #07043f;
  border: 1px solid rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  transition: color 0.5s;
  margin-top: 10px;
  font-weight: bold;
}

.banner-btn a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #1C53D9, #07043f);
  z-index: -1;
  transition: 0.5s;
}

.banner-btn a:hover span {
  border-radius: 8px;
  width: 100%
}

.banner-btn a:hover {
  color: rgb(255, 255, 255);
}


@media screen and (max-width: 770px) {
  .banner-btn a {

    width: 40%;

  }
}

/* Header Link Section Stop */









/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
height:60vh;
background:url({% static 'img/hero-bg.jpg' %});
background-repeat:no-repeat;
background-size:100% 100%;
}

#hero h1{
font-size:4rem;
font-weight:1000;
color:white;
}


#hero h3{
font-size:2rem;
font-weight:500;
}

#hero .hero-content{
position:relative;
top:50px;
}

.hero-footer{
  padding:10px;
}
.hero-footer .container{
border-radius:15px;
box-shadow:0px 0px 10px;
position:relative;
top: -90px;
z-index:1;
border:2px solid white;
padding:20px;
background:white;
}

.hero-footer .container .left{
border-right:5px solid #B40018;
}

@media screen and (max-width: 770px) {

  .hero-footer .container{
    border-radius:15px;
    box-shadow:0px 0px 10px;
    position:relative;
    top: 0px;
    z-index:1;
    border:2px solid white;
    padding:20px;
    background:white;
    margin-bottom:0px;
    }
    
    .hero-footer .container .left{
    border-right:none;
    margin-bottom:10px;
    }
    
}


/*--------------------------------------------------------------
# Hero Section End
--------------------------------------------------------------*/





  /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
  .breadcrumbs {
    padding: 20px 0;
    background-color: #f1f6fe;
    min-height: 40px;
  }

  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }

  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }

  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .breadcrumbs ol li+li {
    padding-left: 10px;
  }

  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }

  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }

    .breadcrumbs ol {
      display: block;
    }

    .breadcrumbs ol li {
      display: inline-block;
    }
  }

  /*--------------------------------------------------------------
# Featured Services and Mejor Factor
--------------------------------------------------------------*/
  .featured-services .icon-box {
    padding: 8px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 10px -3px;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }

  .featured-services .icon-box::before {
    content: "";
    position: absolute;
    background: #cbe0fb;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
  }

  .featured-services .icon-box:hover::before {
    background: #B40018;
    top: 0;
    border-radius: 0px;
  }

  .featured-services .icon {
    margin-bottom: 15px;
  }

  .featured-services .icon i {
    font-size: 48px;
    line-height: 1;
    color: #106eea;
    transition: all 0.3s ease-in-out;
  }

  .featured-services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .featured-services .title a {
    color: #111;
  }

  .featured-services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }

  .featured-services .icon-box:hover .title ,
  .featured-services .icon-box:hover .description {
    color: #fff;
  }

  .featured-services .icon-box:hover .icon i {
    color: #fff;
  }

.icon-box .header-img{
  background: linear-gradient(to right,#fa4e65,#db022e);
  width: 100%;
  height: 50px;
  border-radius: 5px;
}
.icon-box h4{
  text-align: center;
 
}
.icon-box h4 a{
  background-color: white;
  padding: 10px;
  border: 0.5px solid rgb(195, 191, 191);
  border-radius: 6px;
  box-shadow: 0px 0px 10px;
}
  /*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
  .features {
    padding-top: 80px;
  }

  .features .features-item+.features-item {
    margin-top: 100px;
  }

  @media (max-width: 640px) {
    .features .features-item+.features-item {
      margin-top: 40px;
    }
  }

  .features .features-item h3 {
    font-weight: 600;
    font-size: 26px;
    color: #001973;
  }

  .features .features-item ul {
    list-style: none;
    padding: 0;
  }

  .features .features-item ul li {
    padding-bottom: 10px;
  }

  .features .features-item ul li:last-child {
    padding-bottom: 0;
  }

  .features .features-item ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--color-primary);
  }

  .features .features-item p:last-child {
    margin-bottom: 0;
  }









  

  /* ==============================    
  Personal Loan Eligibility Criteria
  =================================*/
  
:root {

  /* Fonts */
  --font-default: 'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: 'Source Sans Pro', sans-serif;
  --font-secondary: 'Poppins', sans-serif;

  /* Colors */
  /* The *-rgb color names are simply the RGB converted value of the corresponding color for use in the rgba() function */

  /* Default text color */
  --color-default: #1a1f24;
  --color-default-rgb: 26, 31, 36;

  /* Defult links color */
  --color-links: #0ea2bd;
  --color-links-hover: #1ec3e0;

  /* Primay colors */
  --color-primary: #B40018;
  --color-primary-light: #1ec3e0;
  --color-primary-dark: #0189a1;

  --color-primary-rgb: 14, 162, 189;
  --color-primary-light-rgb: 30, 195, 224;
  --color-primary-dark-rgb: 1, 137, 161;

  /* Secondary colors */
  --color-secondary: #485664;
  --color-secondary-light: #8f9fae;
  --color-secondary-dark: #3a4753;

  --color-secondary-rgb: 72, 86, 100;
  --color-secondary-light-rgb: 143, 159, 174;
  --color-secondary-dark-rgb: 58, 71, 83;

  /* General colors */
  --color-blue: #0d6efd;
  --color-blue-rgb: 13, 110, 253;

  --color-indigo: #6610f2;
  --color-indigo-rgb: 102, 16, 242;

  --color-purple: #6f42c1;
  --color-purple-rgb: 111, 66, 193;

  --color-pink: #f3268c;
  --color-pink-rgb: 243, 38, 140;

  --color-red: #df1529;
  --color-red-rgb: 223, 21, 4;

  --color-orange: #fd7e14;
  --color-orange-rgb: 253, 126, 20;

  --color-yellow: #ffc107;
  --color-yellow-rgb: 255, 193, 7;

  --color-green: #059652;
  --color-green-rgb: 5, 150, 82;

  --color-teal: #20c997;
  --color-teal-rgb: 32, 201, 151;

  --color-cyan: #0dcaf0;
  --color-cyan-rgb: 13, 202, 240;

  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;

  --color-gray: #6c757d;
  --color-gray-rgb: 108, 117, 125;

  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  
}

/*--------------------------------------------------------------
# 2. Override default Bootstrap variables
--------------------------------------------------------------*/
:root {

  --bs-blue: var(--color-blue);
  --bs-indigo: var(--color-indigo);
  --bs-purple: var(--color-purple);
  --bs-pink: var(--color-pink);
  --bs-red: var(--color-red);
  --bs-orange: var(--color-orange);
  --bs-yellow: var(--color-yellow);
  --bs-green: var(--color-green);
  --bs-teal: var(--color-teal);
  --bs-cyan: var(--color-cyan);
  --bs-white: var(--color-white);
  --bs-gray: var(--color-gray);
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: var(--color-blue);
  --bs-secondary: var(--color-blue);
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: var(--color-primary-rgb);
  --bs-secondary-rgb: var(--color-secondary-rgb);
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: var(--color-white-rgb);
  --bs-black-rgb: var(--color-black-rgb);
  --bs-body-color-rgb: var(--color-default-rgb);
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: var(--font-default);
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--font-default);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: var(--color-default);
  --bs-body-bg: #fff;

}

/*--------------------------------------------------------------
# 3. Set color and background class names
--------------------------------------------------------------*/
/* Fonts */
.font-default { font-family: var(--font-default) !important; }
.font-primary { font-family: var(--font-primary) !important;}
.font-secondary { font-family: var(--font-secondary) !important; }

/* Text Colors */
.color-default { color: var(--color-default) !important; }
.color-links { color: var(--color-links) !important; }
.color-links:hover { color: var(--color-links-hover) !important; }
.color-primary { color: var(--color-primary) !important; }
.color-primary-light { color: var(--color-primary-light) !important; }
.color-primary-dark { color: var(--color-primary-dark) !important; }
.color-secondary { color: var(--color-secondary) !important; }
.color-secondary-light { color: var(--color-secondary-light) !important; }
.color-secondary-dark { color: var(--color-secondary-dark) !important; }
.color-blue { color: var(--color-blue) !important; }
.color-indigo { color: var(--color-indigo) !important; }
.color-purple { color: var(--color-purple) !important; }
.color-pink { color: var(--color-pink) !important; }
.color-red { color: var(--color-red) !important; }
.color-orange { color: var(--color-orange) !important; }
.color-yellow { color: var(--color-yellow) !important; }
.color-green { color: var(--color-green) !important; }
.color-teal { color: var(--color-teal) !important; }
.color-cyan { color: var(--color-cyan) !important; }
.color-white { color: var(--color-white) !important; }
.color-gray { color: var(--color-gray) !important; }
.color-black { color: var(--color-black) !important; }

/* Background Colors */
.bg-default { background-color: var(--color-default) !important; }
.bg-primary { background-color: var(--color-primary) !important; }
.bg-primary-light { background-color: var(--color-primary-light) !important; }
.bg-primary-dark { background-color: var(--color-primary-dark) !important; }
.bg-secondary { background-color: var(--color-secondary) !important; }
.bg-secondary-light { background-color: var(--color-secondary-light) !important; }
.bg-secondary-dark { background-color: var(--color-secondary-dark) !important; }
.bg-blue { background-color: var(--color-blue) !important; }
.bg-indigo { background-color: var(--color-indigo) !important; }
.bg-purple { background-color: var(--color-purple) !important; }
.bg-pink { background-color: var(--color-pink) !important; }
.bg-red { background-color: var(--color-red) !important; }
.bg-orange { background-color: var(--color-orange) !important; }
.bg-yellow { background-color: var(--color-yellow) !important; }
.bg-green { background-color: var(--color-green) !important; }
.bg-teal { background-color: var(--color-teal) !important; }
.bg-cyan { background-color: var(--color-cyan) !important; }
.bg-white { background-color: var(--color-white) !important; }
.bg-gray { background-color: var(--color-gray) !important; }
.bg-black { background-color: var(--color-black) !important; }



/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .img {
  border-radius: 8px;
  overflow: hidden;
}

.services .img img {
  transition: 0.6s;
}

.services .details {
  padding: 50px 30px;
  margin: -100px 30px 0 30px;
  transition: all ease-in-out 0.3s;
  background: var(--color-white);
  position: relative;
  background: rgba(var(--color-white-rgb), 0.9);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0 25px rgba(var(--color-black-rgb), 0.1);
}

.services .details .icon {
  margin: 0;
  width: 72px;
  height: 72px;
  background: var(--color-primary);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--color-white);
  font-size: 28px;
  transition: ease-in-out 0.3s;
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  border: 6px solid var(--color-white);
}

.services .details h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}

.services .details p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service-item:hover .details h3 {
  color: var(--color-primary);
}

.services .service-item:hover .details .icon {
  background: var(--color-white);
  border: 2px solid var(--color-primary);
}

.services .service-item:hover .details .icon i {
  color: var(--color-primary);
}

.services .service-item:hover .img img {
  transform: scale(1.2);
}


/* ==============================    
Personal Loan Eligibility Criteria
=================================*/







{% endblock style %}


{% block content %}



<center>
  <div class="header-links">
    <div class="banner-btn">
      <a href="{% url 'personal_loan_overview' %}" data-aos="fade-down" data-aos-delay="100"
        data-aos-duration="1000"> <span></span> Overview </a>
      <a href="{% url 'personal_loan_eligibility_criteria' %}" data-aos="fade-down" data-aos-delay="150"
        data-aos-duration="1000" style="color: #07043f; background: #fff;"> <span></span> Eligibility Criteria </a>
  
        <a href="{% url 'personal_loan_interest_rate_and_fees' %}"  data-aos="fade-down" data-aos-delay="150"
        data-aos-duration="1000"  > <span></span> Interest Rate & Processing Fees </a>
      <a href="{% url 'personal_loan_document_required' %}"  
        data-aos="fade-down" data-aos-delay="150" data-aos-duration="1000"> <span></span> Document Required </a>
    </div>
  </div>
  <div class="waves_img"></div>
</center>

  
    <div class="links mt-3">
      <a href="../index.html" class="text-light">Home/</a>
      <a href="#" class="text-light">Personal Loan/</a>
      <a href="#" class="text-warning">Eligibility Criteria</a>
    </div>
   
    



<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12 hero-content">
        <h3 class="text-danger"  data-aos="zoom-in" data-aos-easing="linear"  data-aos-delay="100" data-aos-duration="1000">Personal Loan</h3>
        <h1 class=" "  data-aos="zoom-in" data-aos-easing="linear"  data-aos-delay="100" data-aos-duration="1000">Eligibility Criteria</h1>
        <a href="#" class="btn btn-danger px-5 py-2 mt-4"  data-aos="fade-down" data-aos-easing="linear"  data-aos-delay="400" data-aos-duration="1000">Apply Now</a>
      </div>

    </div>
  </div>
</section>

<section class="hero-footer" style="z-index:1"  data-aos="zoom-in" data-aos-easing="linear"  data-aos-delay="100" data-aos-duration="1000">
  <div class="container" >
    <div class="row">
      <div class="col-sm-6 left">
        <img src="{% static 'img/personal_loan/criteria.jpeg' %}" alt="" style="width:100%">
      </div>
      <div class="col-sm-6 right">
        <p class="text-justify">Personal Loans are an unsecured form of multipurpose credit, which may be used to cover a number of personal expenses. You can acquire a personal loan by qualifying with preset eligibility criteria, which are minimal. The basic eligibility criteria are as follows.</p>
      </div>
    </div>
  </div>
</section>
 
<!-- End Hero -->

  
    <!-- =======  Personal Loan Eligibility Criteria ======= -->

    <section id="services" class="services alert alert-danger" >
      <div class="container " data-aos="fade-up"  style="max-width:1400px;">

        <div class="text-center">
          <h1>Personal Loan Eligibility  Criteria</h1>
      <p>Personal Loans are an unsecured form of multipurpose credit, which may be used to cover a number of personal
        expenses. You can acquire a personal loan by qualifying with preset eligibility criteria, which are minimal.
        The basic eligibility criteria are as follows.</p>
    </div>

        <div class="row gy-5">

          <div class="col-xl-6 col-md-6 mt-4 mb-2" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'img/personal_loan_cards.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>Age</h3>
                </a>
                <p>Your age becomes an important criterion as a measure of
                  your ability to repay a Personal Loan. As a rule, you will not be denied a loan if you are a salaried
                  person aged between 21 to 58 years. On the other hand, if you are a self-employed professional, your age
                  must be between 25 to 65 years.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-6 col-md-6 mt-4 mb-2" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'img/personal_loan_cards.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="fa-solid fa-user-tie"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>Employeement</h3>
                </a>
                <p>Your term or period of employment becomes a measure of
                  your reliability to repay a loan in time. Personal loans for salaried employees' criterion dictates that
                  you must be working for an MNC or a Private or Public Limited Company with a minimum work experience of 2
                  to 3 years. Likewise, self-employed professionals must have a minimum of 3 years of experience for
                  personal loan eligibility.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-6 col-md-6 mt-4 mb-2" data-aos="zoom-in" data-aos-delay="400">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'img/personal_loan_cards.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="fa-solid fa-indian-rupee-sign"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>Income</h3>
                </a>
                <p>The minimum salary required for a personal loan as an
                  income criterion for eligibility differs from lender to lender. Your personal loan minimum salary starts
                  from Rs. 20,000 per month.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-6 col-md-6 mt-4 mb-2" data-aos="zoom-in" data-aos-delay="500">
            <div class="service-item">
              <div class="img">
                <img src="{% static 'img/personal_loan_cards.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="fa-solid fa-gauge-high"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>Credit Score</h3>
                </a>
                <p>Lenders assess your creditworthiness or ability to repay
                  a personal loan by accessing your credit score, which derives from your credit history in your credit
                  report. Your credit score affects the loan amount, period of credit, interest rate, and terms that you are
                  offered.</p>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section> 
    <!-- =======  Personal Loan Eligibility Criteria ======= -->

   
  
    <!-- ======= Major Factor Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
  
        <div class=" text-center">
              <h1>Major Factor</h1>
              <p>Factors That Affect Personal Loan Eligibility</p>
        </div>
  
  
        <div class="row">
          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-2 mb-lg-0 mt-3">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="header-img"></div>
              <h4 class="title"><a href="">Income</a></h4>
              <p class="description">Your bank loan eligibility depends heavily on your income. Higher the income, higher
                are chances of you getting a Personal Loan at low interest rate.</p>
            </div>
          </div>
  
          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-2 mb-lg-0 mt-3">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="header-img"></div>
              <h4 class="title"><a href="">Credit and Repayment History</a></h4>
              <p class="description">Banks and NBFCs at all times consider the credit profile of a borrower before
                sanctioning a loan. Lenders may reject your loan application, or charge you a higher rate of interest if
                your repayment history shows that you have not been good at repaying credit. A good credit score helps to
                increase your chances of loan approval.</p>
            </div>
          </div>
  
          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-2 mb-lg-0 mt-3">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="header-img"></div>
              <h4 class="title"><a href="">Banking Relationship</a></h4>
              <p class="description">A good banking relationship helps in loan approvals. If you have a salary account or
                a savings account with the lending bank, the chances of loan approval are higher, and the terms and
                conditions offered along with the interest rate are favourable as well.</p>
            </div>
          </div>
  
          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-2 mb-lg-0 mt-3">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="header-img"></div>
              <h4 class="title"><a href="">Ability to Negotiate</a></h4>
              <p class="description">Personal loan eligibility factors such as income, credit history, and a strong
                banking relationship ensure good scope for negotiating better terms and conditions, better interest rates,
                and better loan tenures for your borrowings. Special offers are part of your package if you negotiate
                well.</p>
            </div>
          </div>
  
        </div>
  
      </div>
    </section><!-- End Major Factor Section -->
  
  
  
  
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
  
        <div class="row text-center" style="text-align: center;">
          <h2><b>What's the Personal Loan Eligibility for Salaried Employees?</b></h2>
          <p>If you are a salaried employee, you can avail a Personal Loan if you fulfil the following eligibility
            criteria.</p>
        </div>
        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
  
          <div class="col-md-5">
            <img src="{% static 'img/eligibility-criteria-employee.jpg' %}" class="img-fluid" alt="" style="border-radius: 10px;">
          </div>
          <div class="col-md-7">
  
            <ul>
              <li><i class="bi bi-check text-primary"></i>You should be a Resident Citizen of India </li>
              <li><i class="bi bi-check text-primary"></i>Your age should be between 21 to 68 years </li>
              <li><i class="bi bi-check text-primary"></i>You should be an employee of a Private Limited Company, Public
                Limited Company, or an MNC, or Government Sector which may be a Public Sector Undertaking, or a Central or
                Local Body </li>
              <li><i class="bi bi-check text-primary"></i>Your work experience should be from 1 to 3 years and above </li>
              <li><i class="bi bi-check text-primary"></i>Your minimum Credit Score should be 750 </li>
              <li><i class="bi bi-check text-primary"></i>Your salary should be Rs. 15,000 for a Non-Metro City, and Rs
                20,000 for a Metro City </li>
            </ul>
          </div>
        </div><!-- Features Item -->
  
  
  
        <div class="row text-center mt-5">
          <h2><b>How do you qualify for a Personal Loan?</b></h2>
          <p>The eligibility criteria for a personal loan are quite simple, and your qualification depends on the
            following criteria.</p>
        </div>
        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'img/eligibility-criteria-personal-loan.jpg' %}" class="img-fluid" alt=""
              style="border-radius: 10px;">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <ul>
              <li><i class="bi bi-check text-primary"></i>You must be a Resident Citizen of India</li>
              <li><i class="bi bi-check text-primary"></i>Your age must be between 21 to 68 years </li>
              <li><i class="bi bi-check text-primary"></i>You must be an employee of a Private Limited Company, Public
                Limited Company, or an MNC if you are a salaried employee. If you are a self-employed person, or a
                professional, you too are eligible to apply for a personal loan. </li>
              <li><i class="bi bi-check text-primary"></i>You should have a minimum Credit Score of 750 </li>
              <li><i class="bi bi-check text-primary"></i>Your KYC Documents should be in order </li>
              <li><i class="bi bi-check text-primary"></i>You should have an Employee ID Card </li>
              <li><i class="bi bi-check text-primary"></i>Must be able to provide last 3 Months Salary Slips</li>
              <li><i class="bi bi-check text-primary"></i>You should have 3 months' Salary Bank Account Statement </li>
            </ul>
          </div>
        </div><!-- Features Item -->
  
      </div>
    </section><!-- End Features Section -->
  
  
  <br>
  {% include "personal_loan_links_and_faq.html" %}
  {% include "personal_loan_post_clients.html" %}
  
    
  
{% endblock content %}


